::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #acacac; /* Color of the scrollbar handle */
  border-radius: 5px; /* Border radius of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #55cbfa; /* Color of the scrollbar handle on hover */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; /* Color of the scrollbar track */
}
* {
  margin: 0;
  padding: 0;
}
nav.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  top: 0;
}
.carousel-item img {
  border-radius: 15px;
}

div.pizza-title {
  font-size: 1.2rem;
  font-weight: 600;
}
p.pizza-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* show max 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: justify; /* justify text */
}
p.pizza-price {
  font-weight: 500;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .carousel-img {
    height: 300px;
  }
}

.terms-of-service {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.terms-of-service h1 {
  text-align: center;
  color: #333;
}

.terms-of-service details {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.terms-of-service summary {
  padding: 15px;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.terms-of-service summary:hover {
  background-color: #e9e9e9;
}

.terms-of-service .terms-content {
  padding: 20px;
  background-color: #fff;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.terms-of-service details[open] .terms-content {
  opacity: 1;
  max-height: 1000px;
}

.terms-of-service h2 {
  color: #444;
  margin-top: 20px;
}

.terms-of-service p {
  line-height: 1.6;
  color: #666;
}

.terms-of-service a {
  color: #007bff;
  text-decoration: none;
}

.terms-of-service a:hover {
  text-decoration: underline;
}

li.breadcrumb-item a {
  color: black;
  text-decoration: none;
}
li.breadcrumb-item a:hover {
  color: rgb(13,110,253);
}
a.nav-link {
  font-weight: 500;
  text-transform: capitalize;
}
a.nav-link:hover {
  font-weight: 600;
}
